.cart-container {
	max-width: 800px;
	margin: 20px auto;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 20px;
	border: 1px solid #333;
	border-radius: 8px;
	background-color: #222; /* Dark background color */
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
	color: #fff; /* Light text color */
}

.cart-container h2 {
	text-align: center;
	color: #fff; /* Light text color */
}

.cart-container p {
	text-align: center;
}

.cart-container ul {
	list-style-type: none;
	padding: 0;
}

.cart-container li {
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #555; /* Adjust border color */
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333; /* Darker item background color */
}

.cart-container li img {
	max-width: 50px;
	margin-right: 10px;
}

.cart-container button {
	background-color: #007bff;
	border: none;
	color: #fff;
	padding: 8px;
	cursor: pointer;
	border-radius: 4px;
}

.cart-container button:hover {
	background-color: #0056b3;
}

.remove-button img {
	height: 40px;
	display: flex;
	cursor: pointer;
}
