.product-card {
	display: flex;
	flex-direction: column;
	border: 1px solid #736d6d;
	border-radius: 8px;
	margin: 16px 10px;
	max-height: 550px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #665f5f43;
	}

	img {
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		width: 100%;
		height: 300px;
	}

	.product-card__title {
		font-weight: bold;
		margin: 10px;
	}

	.product-card__wrapper {
		display: flex;

		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #736d6d;
		margin: 10px;
		margin-top: auto;
	}

	button {
		background-color: #007bff;
		border-radius: 10px;
		color: #fff;
		width: 60px;
		border: none;
		padding: 8px;
		cursor: pointer;
	}
}

@media screen and (min-width: 600px) {
	.product-card {
		width: 290px;
		margin: 16px 20px;
	}
}
