footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}